body {
    font-family: Arial, sans-serif;
    background-image: url('image.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #f0f0f0;
    /* Fallback color */
    height: 100vh;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    /* Align content vertically */
    align-items: flex-start;
    /* Align items to the left */
    padding: 20px;
    margin: 105px 0 0 20px;
    /* Position container on the left */
    background: rgba(169, 160, 160, 0.7);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(181, 164, 164, 0.3);
    width: 300px;
    /* Set a fixed width for the container */
    max-width: 100%;
    /* Ensure container does not exceed screen width */
}

.location-weather {
    text-align: center;
    /* Align text to the left */
    margin-bottom: 20px;
    /* Spacing between elements */
}

h1 {
    font-size: 24px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
    /* Darker shade on hover */
}

.info {
    margin-top: 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(51, 51, 51, 0.7);
    /* Transparent background */
    color: white;
    padding: 15px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

nav h3 {
    margin: 0;
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
}

footer {
    background: rgba(51, 51, 51, 0.7);
    /* Transparent background */
    color: white;
    padding: 10px;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
}

footer p {
    margin: 0;
}

footer .social-icons {
    margin-top: 5px;
}

footer .social-icons a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

footer .social-icons a:hover {
    color: #ddd;
}

@media (max-width: 768px) {
    .container {
        margin: 20px;
        /* Adjust margin for smaller screens */
        width: auto;
        /* Allow width to adjust on smaller screens */
    }

    nav {
        flex-direction: column;
        text-align: center;
    }

    footer {
        font-size: 0.8rem;
    }
}